<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/posts">
        <input name="username" type="text" placeholder="enter the name"><br><br>
        <textarea name="content" placeholder="enter something"></textarea><br>
        <button>Submit Posts</button>
    </form>
</body>
</html>