<%- include("includes/head.ejs") %>
<body>
    
    <h1>hello i am lucky</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam officia, placeat recusandae, repellendus eum cumque dolorum velit, necessitatibus laborum eveniet similique. Soluta possimus temporibus amet voluptatem voluptatum, quas nam velit?</p>
    <button>click me..!</button>
    <%- include("includes/footer.ejs") %>
</body>
</html>